/.idea/
__pycache__/
connections_storage.json
_COM3/
/server/web/dev.sqlite3.old
/server/flowey_dev.sqlite3
/server/plant_data.csv
/server/plant_data.json
/server/plant_data__trimmed.json
/server/plant_type.csv
/server/plant_type.json
/bridge/bridge_worker-COM3.log
/bridge/main.log
/bridge/unsent_data_worker-COM3.log
/server/.ipynb_checkpoints/
/server/result_humidity_43c311e2279f4dd2afce8bbcff62371d.csv
/server/web/dev.sqlite3.bck
/server/web/flowey_dev.sqlite3.bck
