{% from "macros/_render_graph.html" import render_graph %}

{% extends "base.html" %}


{# puts the .active class into base.html navbar link #}
{% block active_navlink__home %}
active
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    <div class="table-responsive collapsable">
    <table class="table">
        <thead class="thead-light thead-double">
        <tr>
            <th scope="col">Plant type: {{ plant_type.name }}</th>
            <th scope="col" colspan="3">Humidity</th>
            <th scope="col" colspan="3">Luminosity</th>
            <th scope="col" colspan="3">Temperature</th>
        </tr>
        <tr>
            <th scope="col" colspan="2"></th>
            {% for i in range(3) %}
                <th scope="col" class="small">Min</th>
                <th scope="col" class="small">Max</th>
                <th scope="col" class="small">Tolerance</th>
            {% endfor %}
        </tr>
        </thead>



    <p>Plant type: {{ plant_type.name }} </p>
    <p>Gateway_id: {{ plant_type.name }} </p>
    {{ render_graph('humidity', labels, values, plant_type, 'caption') }}
    <hr>
    {{ render_graph('temperature', labels, values, plant_type, 'caption2') }}

{% endblock %}