{% from "macros/_render_graph.html" import render_graph with context %}

{% extends "base.html" %}


{% set time_window = request.args.get('time_window', default='last_week') %}
{% set show_predict = request.args.get('predict', default='false').lower() == 'true' %}


{% block head_css %}
    <style>
        .tooltip-inner {
            min-width: 100px;
            max-width: 100%;
        }
    </style>
{% endblock %}


{% block head_js %}
    <script>
        function switch_predict(el) {
            /* set the value for 'predict' query param and reload the page */
            const parser = new URL(window.location);
            parser.searchParams.set('predict', el.checked);
            window.location = parser.href;
        }


        $(function () {
            /* initialize tooltips on the page */
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
{% endblock %}


{# puts the .active class into base.html navbar link #}
{% block active_navlink__graphs %}
    active
{% endblock %}


{% block content %}
    <div class="row my-3 align-items-center">
        <div class="col">
            <h1>
                Graphs for {{ plant_type.name }} -
                <span style="text-decoration: lightgrey dotted underline;"
                      data-toggle="tooltip" data-placement="bottom" title="UUID: {{ plant_info.plant_id }}"
                >
                    {{ plant_info.gateway_id }}
                </span>
            </h1>
        </div>
        <div class="col-auto">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="predict_switch" onchange="switch_predict(this)"
                       {% if show_predict %}checked="checked"{% endif %}
                >
                <label class="custom-control-label" for="predict_switch">Show Predictions</label>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
            <a class="nav-link {% if time_window not in ['last_month', 'all_time'] %}active{% endif %}"
               href="{{ url_for('graphs.details',
                                plant_data_id=plant_info.plant_id,
                                time_window='last_week',
                                predict=show_predict|lower) }}"
            >Last Week</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if time_window == 'last_month' %}active{% endif %}"
               href="{{ url_for('graphs.details',
                                plant_data_id=plant_info.plant_id,
                                time_window='last_month',
                                predict=show_predict|lower) }}"
            >Last Month</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if time_window == 'all_time' %}active{% endif %}"
               href="{{ url_for('graphs.details',
                                plant_data_id=plant_info.plant_id,
                                time_window='all_time',
                                predict=show_predict|lower) }}"
            >All Time</a>
        </li>
    </ul>

    <div class="row my-4">
        <div class="col-12">
            <h4>Plant Info</h4>
        </div>
        <div class="col">
            <b>Plant type:</b>
            <a href="{{ url_for('plant_type.details', plant_type_id=plant_type.id) }}">
                {{ plant_type.name }}&nbsp;(Details)
            </a>
        </div>
        <div class="col-auto">
            <b>Plant UUID:</b> {{ plant_info.plant_id }}
        </div>
        <div class="col">
            <b>Gateway ID:</b> {{ plant_info.gateway_id }}
        </div>
        <div class="col">
            <b>Bridge ID:</b> {{ plant_info.bridge_id }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h4><a href={{ url_for('graphs.measurement', measure='dht_humidity') }}>Air Humidity</a></h4>
            <canvas id="dht_humidity" width="1000" height="400"></canvas>
            {{ render_graph('dht_humidity', chart_data['dht_humidity']) }}
        </div>
    </div>
    <hr class="my-4"/>
    <div class="row">
        <div class="col">
            <h4><a href={{ url_for('graphs.measurement', measure='humidity') }}>Terrain Humidity</a></h4>
            <canvas id="humidity" width="1000" height="400"></canvas>
            {{ render_graph('humidity', chart_data['humidity']) }}
        </div>
    </div>
    <hr class="my-4"/>
    <div class="row">
        <div class="col">
            <h4><a href={{ url_for('graphs.measurement', measure='luminosity') }}>Luminosity</a></h4>
            <canvas id="luminosity" width="1000" height="400"></canvas>
            {{ render_graph('luminosity', chart_data['luminosity']) }}
        </div>
    </div>
    <hr class="my-4"/>
    <div class="row">
        <div class="col">
            <h4><a href={{ url_for('graphs.measurement', measure='temperature') }}>Temperature</a></h4>
            <canvas id="temperature" width="1000" height="400"></canvas>
            {{ render_graph('temperature', chart_data['temperature']) }}
        </div>
    </div>
{% endblock %}
