{% extends "base.html" %}

{# puts the .active class into base.html navbar link #}
{% block active_navlink__graphs %}
active
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>Plants</h1>
    </div>
</div>

<div class="table-responsive collapsable">
    <table class="table">
        <caption>List of registered plants</caption>
        <thead class="thead-light thead-double">
        <tr>
            <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
            {% for plant_data_id, plant_type_name in plants.items() %}
                <tr class="bg-light">
                    <td>
                        <a href={{ url_for('graphs.details', plant_data_id=plant_data_id) }}>
                            {{ plant_type_name }}&nbsp;-&nbsp;{{ plant_data_id }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<div class="row mt-3">
    <div class="col">
        <h1>Measurements</h1>
    </div>
</div>

<div class="table-responsive collapsable">
    <table class="table">
        <caption>List of measurements sampled</caption>
        <thead class="thead-light thead-double">
        <tr>
            <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
            <tr class="bg-light">
                <td><a href={{ url_for('graphs.humidity_graph', measurement='dht_humidity') }}>Air Humidity</a></td>
            </tr>
            <tr class="bg-light">
                <td><a href={{ url_for('graphs.humidity_graph') }}>Terrain Humidity</a></td>
            </tr>
            <tr class="bg-light">
                <td><a href={{ url_for('graphs.luminosity_graph') }}>Luminosity</a></td>
            </tr>
            <tr class="bg-light">
                <td><a href={{ url_for('graphs.temperature_graph') }}>Temperature</a></td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
