{% from "macros/_render_graph.html" import render_graph with context %}

{% extends "base.html" %}


{# puts the .active class into base.html navbar link #}
{% block active_navlink__graphs %}
active
{% endblock %}


{% block content %}

    <h4>Terrain humidity</h4>
    <canvas id="humidity" width="1000" height="400"></canvas>
    {{ render_graph('humidity', chart_data['humidity']) }}

    <hr class="my-4"/>

    <h4>Air humidity</h4>
    <canvas id="dht_humidity" width="1000" height="400"></canvas>
    {{ render_graph('dht_humidity', chart_data['dht_humidity']) }}

    <hr><hr><hr>


<h1>{{ measure }} measures of all plants</h1>
    <hr/>

<table class="table">
<caption>List of registered plants</caption>
    <thead class="thead-light thead-double">
        <tr>
            <th>Id</th>
            <th>Bridge</th>
            <th>Gateway</th>
        </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr class="bg-light">
                    <td><a href="{{ url_for('graphs.details', plant_data_id=item[0]) }}">{{ item[0] }}</a></td>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[1] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<hr/>

<canvas id="myChart_dht" width="1000" height="400"></canvas>
    <p id="caption">{{ measure }} measured outside of terrain</p>
    <hr/>
{% if "Luminosity" not in measure %}
<canvas id="myChart_mean" width="1000" height="400"></canvas>
    <p id="caption">{{ measure }} measured inside the terrain</p>
    <hr/>
{% endif %}

    <script>
// Global parameters:
// do not resize the chart canvas when its container does (keep at 600x400px)
Chart.defaults.global.responsive = false;

var colorArray = ['#FFFF99', '#00B3E6',
		  '#E6B333', '#3366E6', '#999966', '#99FF99', '#B34D4D',
		  '#80B300', '#809900', '#E6B3B3', '#6680B3', '#66991A',
		  '#FF99E6', '#CCFF1A', '#FF1A66', '#E6331A', '#33FFCC',
		  '#66994D', '#B366CC', '#4D8000', '#B33300', '#CC80CC',
		  '#66664D', '#991AFF', '#E666FF', '#4DB3FF', '#1AB399',
		  '#E666B3', '#33991A', '#CC9999', '#B3B31A', '#00E680',
		  '#4D8066', '#809980', '#E6FF80', '#1AFF33', '#999933',
		  '#FF3380', '#CCCC00', '#66E64D', '#4D80CC', '#9900B3',
		  '#E64D66', '#4DB380', '#FF4D4D', '#99E6E6', '#6666FF'];

// -----DEFINE CHART_dht HERE------
      var chartData_dht = {
        labels : [{% for item in labels %}
                   "{{item}}",
                  {% endfor %}],
        datasets : [
            {% for item in data %}
            {
            label: '{{ item[0] }}',
            fill: false,
            borderColor: colorArray[{{ loop.index }}],
            borderWidth: 1.5,
            tension: 0.1,
            data : [{% for value in item[3] %}
                '{{value}}',
                  {% endfor %}],
            spanGaps: true
        },
        {% endfor %}
        ]
      }

// get chart canvas
      var ctx = document.getElementById("myChart_dht").getContext("2d");

      // create the chart using the chart canvas
      var myChart = new Chart(ctx, {
        type: 'line',
        data: chartData_dht,
          options: {
            scales: {
                xAxes: [{
                    type: 'time',
                    }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            elements: {
                    point:{
                        radius: 0
                    }
            }
          }
      });
// -----CHART_dht END------


// -----DEFINE CHART_mean HERE------
      var chartData_mean = {
        labels : [{% for item in labels %}
                   "{{item}}",
                  {% endfor %}],
        datasets : [
            {% for item in data %}
            {
            label: '{{ item[0] }}',
            fill: false,
            borderColor: colorArray[{{ loop.index }}],
            borderWidth: 1.5,
            tension: 0.1,
            data : [{% for value in item[4] %}
                '{{value}}',
                  {% endfor %}],
            spanGaps: true
        },
        {% endfor %}
        ]
      }

// get chart canvas
      var ctx = document.getElementById("myChart_mean").getContext("2d");

      // create the chart using the chart canvas
      var myChart = new Chart(ctx, {
        type: 'line',
        data: chartData_mean,
          options: {
            scales: {
                xAxes: [{
                    type: 'time',
                    }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            elements: {
                    point:{
                        radius: 0
                    }
            }
          }
      });
// -----CHART_mean END------


    </script>
{% endblock %}