<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Project CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', dev=randint(0, 1000000)) }}">

    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <!-- Chart JS -->
    <script src="{{ url_for('static', filename='js/chart.bundle.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.js"></script>
    <!-- Chart global defaults -->
    <script src="{{ url_for('static', filename='js/chart_defaults_global.js', dev=randint(0, 1000000)) }}"></script>
    <!-- Project JS -->
    <script src="{{ url_for('static', filename='js/script.js', dev=randint(0, 1000000)) }}"></script>

    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <title>{{ title }}</title>
</head>

<body class="d-flex flex-column min-vh-100">
<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light container-fluid">
        <a href="{{ url_for('homepage.index') }}" class="navbar-brand ml-2 mr-0 mr-md-2">
            <img class="logo img-fluid" src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" width="40" height="40">
            Flowey
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mr-auto">
                <a class="nav-link {% block active_navlink__home %}{% endblock %}"
                   href="{{ url_for('homepage.index') }}">Home</a>
                <a class="nav-link {% block active_navlink__plant_type %}{% endblock %}"
                   href="{{ url_for('plant_type.list_all') }}">Plant Types</a>
                <a class="nav-link {% block active_navlink__graphs %}{% endblock %}"
                   href="{{ url_for('graphs.list_all') }}">Graphs</a>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="container">
    <div class="starter-template">
        <div class="container my-5">
            {% block content %}
                <p>No content</p>
            {% endblock content %}
        </div>
    </div>
</main>
<footer class="mt-auto bg-light text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Copyright &copy; <a href="https://github.com/Poppy3/Progetto-IoT" target="_blank">IoT Project</a>
    </div>
</footer>
{% block modal %}{% endblock %}
</body>
</html>
