<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <script src="js/chart.bundle.min.js"></script>
  <script src="js/chart_defaults_global.js?dev={{ randint(0, 1000000) }}"></script>
</head>

<body>
  <center>
    <h1>{{ title }}</h1>
    <a href="/">Back</a>
  </center>
  <center>
    <div class="chart-container" style="position: relative; height:40vh; width:80vw">
      <canvas id="chart"></canvas>
      <script>
        var pieData = {
          datasets: [{
            data: [
              {% for value in values %}
                {{ value }},
              {% endfor %}
            ],
            backgroundColor: [
              {% for color in colors %}
                "{{ color }}",
              {% endfor %}
            ]
          }],

          labels: [
            {% for label in labels %}
              "{{ label }}",
            {% endfor %}
          ]
        };

        // get bar chart canvas
        var ctx = document.getElementById("chart").getContext("2d");

        // draw pie chart
        new Chart(ctx, {
            type: 'pie',
            data: pieData
        });

      </script>
    </div>
  </center>
</body>
</html>