{% from "macros/_render_field.html" import render_field %}

{% extends "base.html" %}


{# puts the .active class into base.html navbar link #}
{% block active_navlink__plant_type %}
    active
{% endblock %}


{% block content %}
    {% block plant_type_form_title %}
        <div class="row align-items-center">
            <div class="col">
                <h2>Create Plant-Type</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="lead">
                    Register a new Plant-Type with ideal values that will be used to check your plants' health.
                </p>
            </div>
        </div>
    {% endblock %}
    <hr/>
    {% if error is not none %}
        <div class="row align-items-center alert alert-danger px-1" role="alert">
            <div class="col">
                <span>{{ error }}</span>
            </div>
            <div class="col-auto align-self-start">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    {% endif %}
    {% if success is not none %}
        <div class="row align-items-center alert alert-success px-1" role="alert">
            <div class="col">
                <span>{{ success }}</span>
            </div>
            <div class="col-auto align-self-start">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    {% endif %}
    <form method="POST" action="{{ url_for(**form_endpoint) }}">
        {{ plant_type_form.csrf_token }}

        <fieldset class="form-group">
            <legend>General Information</legend>
            <div class="form-group form-row">
                {{ render_field(plant_type_form.name) }}
            </div>
            <div class="form-group form-row">
                {{ render_field(plant_type_form.description) }}
            </div>
        </fieldset>
        <hr/>
        <fieldset class="form-group">
            <legend>Humidity</legend>
            <div class="form-group form-row">
                {{ render_field(plant_type_form.humidity_min) }}
            </div>
            <div class="form-group form-row">
                {{ render_field(plant_type_form.humidity_max) }}
            </div>
            <div class="form-group form-row">
                {{ render_field(plant_type_form.humidity_tolerance_time) }}
            </div>
        </fieldset>
        <hr/>
        <fieldset class="form-group">
            <legend>Luminosity</legend>
            <div class="form-group form-row">
                {{ render_field(plant_type_form.luminosity_min) }}
            </div>
            <div class="form-group form-row">
                {{ render_field(plant_type_form.luminosity_max) }}
            </div>
            <div class="form-group form-row">
                {{ render_field(plant_type_form.luminosity_tolerance_time) }}
            </div>
        </fieldset>
        <hr/>
        <fieldset class="form-group">
            <legend>Temperature</legend>
            <div class="form-group form-row">
                {{ render_field(plant_type_form.temperature_min) }}
            </div>
            <div class="form-group form-row">
                {{ render_field(plant_type_form.temperature_max) }}
            </div>
            <div class="form-group form-row">
                {{ render_field(plant_type_form.temperature_tolerance_time) }}
            </div>
        </fieldset>

        <fieldset class="form-group form-row justify-content-center">
            <a href="{{ url_for(**back_endpoint) }}" role="button"
               class="btn btn-outline-secondary mx-3">Cancel</a>
            <button type="submit" class="btn btn-primary mx-3">Submit</button>
        </fieldset>
    </form>
{% endblock %}
