{% macro render_graph(attribute, labels, values, plant_type, caption) %}

<canvas id="myChart_{{ attribute }}" width="600" height="400"></canvas>
    <p id="caption">{{ caption }}</p>

    <script>
      // Global parameters:
      // do not resize the chart canvas when its container does (keep at 600x400px)
      Chart.defaults.global.responsive = false;

      // define the chart data
      var chartData = {
        labels : [{% for item in labels %}
                   "{{item}}",
                  {% endfor %}],
        datasets : [{
            label: '{{attribute}}',
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data : [{% for item in values %}
                      {{item}},
                    {% endfor %}],
            spanGaps: false
        }]
      }

      // get chart canvas
      var ctx = document.getElementById("myChart_{{ attribute }}").getContext("2d");

      // create the chart using the chart canvas
      var myChart = new Chart(ctx, {
        type: 'line',
        data: chartData,
          options: {
            annotation: {
            annotations: [{
                drawTime: "beforeDatasetsDraw",
                type: "box",
                xScaleID: "x-axis-0",
                yScaleID: "y-axis-0",
                borderWidth: 0,
                yMin: {{plant_type.humidity_min}},
                yMax: {{plant_type.humidity_max}},
                backgroundColor: "rgba(46, 204, 113,0.3)"
                }]
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    }],

            }
  }
      });
    </script>

{% endmacro %}